<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.lytear.sns.post.comment.dao.CommentDAO">
 
	<insert id="insertComment" parameterType="map">
 		INSERT INTO `comment`
 		(
 			`postId`
 			,`userId`
 			,`userName`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		
 		)
 		VALUES
 		(
 			#{postId}
 			,#{userId}
 			,#{userNameTest}
 			,#{content}
 			,now()
 			,now()
 		);
 	
 	
 	</insert>
 	
 	<!--  <select id="selectCommentListByPostId" resultType="com.lytear.sns.post.comment.model.Comment"-->
 	<select id="selectCommentListByPostId" resultType="com.lytear.sns.post.comment.model.Comment"
 	parameterType="int">
 		SELECT
 		
 			`id`
 			,`postId`
 			,`userId`
 			,`userName`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		
 		
 		
 		FROM 
 			`comment`
 		WHERE 
 			`postId` = #{postId}
 		ORDER BY `id` DESC
 	
 	
 	</select>
 	
</mapper> 	
 	