<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.lytear.sns.post.like.dao.LikeDAO">
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`postId`
			,`userId`
			,`createdAt`
		)
		VALUES	
		(
			#{postId}
			,#{userId}
			,now()
		)
		
	</insert>
	
	<select id="userLikeResult" resultType="int" parameterType="int">
		SELECT
			`id`
			,`postId`
			,`userId`
			
		FROM
			`like`
		WHERE	
			`userId`=#{userId}
	</select>
	
	
	
</mapper>
 
 
 