<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.lytear.sns.post.like.dao.LikeDAO">
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`postId`
			,`userId`
			,`createdAt`
		)
		VALUES	
		(
			#{postId}
			,#{userId}
			,now()
		)
		
	</insert>
	
	<delete id="deleteLike" parameterType="map">
		DELETE FROM
			`like`	
		WHERE
			`postId` = #{postId}
			AND `userId` = #{userId}
	
	</delete>
	
	
	<!-- 파라미터 타입 int 두 개라도 여러 개니까 map -->
	<select id="selectCountLikeByUserId" resultType="int" parameterType="map">
		SELECT
			count(*)
			
		FROM
			`like`
		WHERE	
			`postId`=#{postId}
			AND `userId`=#{userId}
	</select>
	
	<select id="selectCountLikeByPostId" resultType="int" parameterType="int">
		SELECT
			count(*)
			
		FROM
			`like`
		WHERE	
			`postId`=#{postId}
	</select>
	
	
	
</mapper>
 
 
 